bin
*.launch
.settings
.metadata
.classpath
.project
out
*.ipr
*.iws
*.iml
.idea
build
.gradle
*.tmp
*.log
*.jks
eclipse
run
tests
/dist
signing.*
src/main/java/archive
src/main/resources/assets/minecraft
.vscode
/classes
/dev
/tmp
/archive
/assets-src
.gimp
*.xcf
desktop.ini
.DS_Store
Thumbs.db
forge*changelog.txt
/*.txt
mcmodsrepo
/src/generated/resources/.cache/9fb1092f32d4fcbf9e061ffd718d4ec689c6c95e
/src/generated/resources/.cache/59eb3dbb5f86130e09b3c62d89b9525ee01cf52d
/src/generated/resources/.cache/3547abe26a754efbbf1127034c746519a0b1f234
